<% include layout.ejs %>

<h1><%= title %></h1>
<p>Current time and date:</p>
<div id="currentTime"></div>

<div class="http">
    <h3>Last request</h3>
    <div id="lastRequest"></div>
    <h3>From</h3>
    <div id="from"></div>
    <h3>To</h3>
    <div id="to"></div>
    <h3>Headers</h3>
    <div id="headers"></div>
    <h3>Content</h3>
    <div id="content"></div>
    <h3>Time</h3>
    <div id="httpTime"></div>
</div>

<script src="/components/socket.io-client/socket.io.js"></script>
<script>
    var currentTime = document.getElementById("currentTime");
    currentTime.innerHTML = new Date();
    setInterval(function() {
        currentTime.innerHTML = new Date();
    }, 1000);

    var socket = io.connect("http://localhost:3000");
    socket.on("http", function(data) {
        var field = document.getElementById("lastRequest");
        field.innerHTML = data.request;
        field = document.getElementById("from");
        field.innerHTML = data.from;
        field = document.getElementById("to");
        field.innerHTML = data.to;
        field = document.getElementById("headers");
        field.innerHTML = data.headers;
        field = document.getElementById("content");
        field.innerHTML = data.content;
        field = document.getElementById("httpTime");
        field.innerHTML = data.created;
    });
</script>

</body>
</html>